body {
  background-color: black;
  color: white;
  font-size: 2rem;
}
a {
  color: aqua;
}
.fullscreen {
  width:100%;
  height:100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
}
.masina {
  width: 30%;
  height: max-content;
}
.masina button {
  width: 25%;
  height: 0;
  padding-top: 5.5%;
  padding-bottom:19.5%;
  border-radius: 30px;
  font-weight:1000;
  font-size: 1rem;
  text-align: center;
}
.masina input {
  width: 100%;
}
#zgrada img {
  width:90%;
}
#stvari {
  display: none;
}